<!-- Modal -->
<div class="modal fade" id="invitation_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div style = "position: relative;" class="modal-dialog">
    <div style = "position: absolute; z-index: 1; width:100%;" class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Friends</h4>
      </div>
      <div class="modal-body">
        <ul>
          <%Account.all.each do |user|%>
          <% unless user == current_account%>
          <li class = "invitable_user" invitable-user-id = <%= user.id%>>
            <%= render(:partial => "topics/partials/user_bar", :locals => {:user => user})%>
          </li>
          
          <div class = "small_devider"></div>
          <% end%>
          <%end%>
          <div style = "clear:both"></div>
        </ul>
        <div class = "small_devider"></div>
        <div class = "small_devider"></div>
        Couldn't find who you were looking for? Send an email invitation
         <input id = "invitation_email_box" type = "text" class = "form-control" , placeholder = "email">
         <div class = "message_box" id = "invitation_email_message_box">
               </div>
     <div class="modal-footer">
        <div data-toggle="modal" style ="height: 30px;" id = "send_invitation_button" class = "topic_button col-xs-12 col-md-12">
        Send Invitation
        </div>
        
       
        <div style = "clear:both">
        </div>
      </div>
    </div>
  </div>
<div style = " 
                text-align: center;
                color: red;
                padding-top: 100px;
                position: absolute;
                height: 319px;
                width: 100%;
                border-radius: 10px;
                background-color: rgb(255,255,255);
                z-index: 1005;
                opacity: 0.7;" 
                class = "hidden progress-div"
                id = "prog_mod_div">
        <i class="fa fa-spinner fa-spin fa-3x fa-fw margin-bottom"></i>
        <div>
          Sending ...
        </div>

</div>
</div>
</div>
<script type="text/javascript">

 prepare_invitable_user_list = function(){
  t = new Array();
  j_list = $(".invitable_user");
  j_list.each(function(element){
    t[element] = j_list[element];
  });
  return t;
}



get_selected_invitable_user_id = function(){
  id = -1;
  prepare_invitable_user_list().forEach(function(element){
    if ($(element).attr("picked") == "true"){
      //console.log(element);
      id = $(element).attr("invitable-user-id");
    }
    
  });
  return id;
}

after_invitation_callback = function(element){
  update_topic_show(element);
  $("#invitation_modal").toggle();
}
  
var radio_form_for_invitable_users = new RadioList(prepare_invitable_user_list(), "glyphicon-check", "glyphicon-unchecked");

  var validator = new StringValidator()

  $("#send_invitation_button").click(function(){
    curtain_height = $("#invitation_modal").find(".modal-content").height();
    $("#prog_mod_div").css({height: curtain_height});
    $("#prog_mod_div").removeClass("hidden");
    var validator = new StringValidator()
    if ($("#invitation_email_box").val() != ""){
       if(validator.is_valid_email($("#invitation_email_box").val())){
           var invitation_handler = new AjaxHandler("none", "<%= root_url%>"+"ajax_calls/send_email_invitation", "POST", {reciever_email: $("#invitation_email_box").val(), side: get_picked_side(), topic_id: <%=@topic.id%>} ,after_invitation_callback);
              invitation_handler.make_call();
       }
       else
       {
         $("#invitation_email_message_box").text("Please enter a valid email")
       }
    }
    else 
    {
      var selected_invitation_handler = new AjaxHandler("none", "<%= root_url%>"+"ajax_calls/send_invitation", "POST", {account_id: get_selected_invitable_user_id(), side: get_picked_side(), topic_id: <%=@topic.id%>} ,after_invitation_callback);
              selected_invitation_handler.make_call();
    }
  });


</script>
