
<div debate-id =<%= debate.id%> class="panel  panel-default panel-main">
<div class="panel-body">
    <div class = "row">

    </div>
    <div class = "row">
        <div class = "col-md-12">
            <div class = "post-box-profile-img-container">
                <%= image_tag("default.png", :alt => "+", :class => "profile-pic-container")%>

            </div>
            <div class = "post-box-profile-info-container">
                <div class = "post-box-profile-info">
                    <span class = "profile-info-name"><%= debate.get_debaters.first.display_name%></span>
                    <span class = "profile-info-meta">a few seconds ago</span>
                </div>
                <div class = "profile-info-description">
                    
                </div>
            </div>
        </div>
    </div>
    <div class = "row" style = "margin-top: 10px;">
        <div class = "argument-text col-md-12">

            <div class = "reply-box">
                <div class="form-group">    
                    <%if debate.side_taken == "left_side"%>
                        <p>
                            <%= Topic.find(debate.topic_id).left_side_topic%>
                        </p>
                    <%elsif debate.side_taken == "right_side"%>
                        <p>
                             <%= Topic.find(debate.topic_id).right_side_topic%>
                        </p>
                    <%end%>
                </div> 
            </div>



        </div>
    </div>
</div>
<%unless current_user.is_in_debate debate.id%>
<div class="panel-footer">
    <div style ="height: 30px;" id = "join_opposite_side_button" debate-id = <%= debate.id%> class = "join_opposite_side_button topic_button  col-xs-12 col-md-12">
        Join the Opposite Side
    </div>
    <div style = "clear:both"></div>
    
</div>
<%end%>
