
<div id = "topic_index_pannel_<%= topic.id %>" topic-id = <%= topic.id %> class="topic_index_pannel panel panel-default panel-main">
    <!-- a dropdown menu of currently unknown purpose -->
    <div class="topic_index_dropdown dropdown">
        <span class="dropdown-toggle" type="button" data-toggle="dropdown">
            <span class="[ glyphicon glyphicon-chevron-down ]"></span>
        </span>
        <ul class="dropdown-menu" role="menu">
            <li class = "topic_index_dropdown_topic_edit" role="presentation"><a role="menuitem" tabindex="-1"><span class = " glyphicon glyphicon-pencil"> </span>  Edit</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><span class ="glyphicon glyphicon-lock"></span>  Only you and friends</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#"> Another action</a></li>
            <li role="presentation" class="divider"></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><span class ="glyphicon glyphicon-trash"></span> Another action</a></li>
        </ul>
    </div>

    <!-- stuff like topic, post info, user info and content (panel-heading is a misnomer) -->
   
    <div class="panel-heading">
        <div class = "small_devider"></div>

        <div class ="debate-title">
            <div class = "row">
            <div class = "col-md-12">
                <div class = "post-box-profile-img-container">
                    <%= image_tag("default.png", :alt => "+", :class => "profile-pic-container")%>

                </div>
                <div class = "post-box-profile-info-container">
                    <div class = "post-box-profile-info">
                        <span class = "profile-info-name"><%= topic.get_creator.display_name%></span>
                        <span class = "profile-info-meta">a few seconds ago</span><!-- create and use a friendly time stamp here -->
                    </div>
                    <div class = "profile-info-description info_text" style = "padding: 4px;">

                    </div>
                </div>
            </div>
        </div>
            <% if !topic.is_full %>
            <p><%= topic.topic_sentence%></p>
            <% else %>
            <p><%= link_to topic.topic_sentence, debate_path(debate)%> </p>
            <% end %>    
            <hr>
        </div>
        <div class="debate-content text-description">
            <div id = "sides_container_<%= topic.id%>">
            <% if topic.is_full %>
                <%= render partial: "topics/partials/sides_and_status", locals: {topic: topic, debate: debate} %>
            <% elsif !topic.is_full %>
                
            <div id = "one_side_topic_<%= topic.id%>"> <!-- takes in a hash object, name: ogp_object -->
                <p><%=topic.left_side_topic%></p>
            </div>
            
            <% end %>
            </div>

        </div>
        
        <% unless topic.story.og_image_url == nil %>
        <div class="debate-content text-description">
            <p> <!-- takes in a hash object, name: ogp_object -->

                <div class = "ogp_image">
                    
                        <%= image_tag(topic.story.og_image_url, :width => "100%")%>
                    
                    
                </div>

                <div class  = "ogp_title">
                    <h3> <%= topic.story.og_topic%> </h3>
                    <p>
                        <%= topic.story.og_description%>
                    </p>
                </div>
                        <% unless topic.story.og_url == nil%>
                        <a class = "go_to_story_btn btn btn-default btn-sm pull-right" onclick = "window.open('<%= topic.story.og_url%>')"> go to story </a>
                        <% end %>
            </p>

        </div>
        <% end %>
    </div>

    <!-- stuff like debaters and their positions -->
    <div  class = "small_devider"></div>
    <div class = "panel-body">
       <div class = "row" >
            <div id = "joining_box_<%= topic.id%>" class = "col-md-12 hidden">
                <div style = "padding-left: 45%; color: red;">
                    <i class="fa fa-spinner fa-spin fa-3x fa-fw margin-bottom"></i>
                    <div>
                        <strong>joining ...</strong>
                    </div>
                </div>
            </div>

            <div class = "col-md-12" id = "join_form_<%= topic.id%>">
                <% if (account_signed_in?) && (topic.display_user_prompt_for current_account) %>

                <%=render partial: "topics/partials/prompt_join_box", locals: {user: current_account, topic: topic, debate: debate}%>

                <% elsif (account_signed_in?) && (topic.display_challenge_refused_for current_account)%>
                <%=render partial: "topics/partials/challenge_refused_box", locals: {user: current_account, topic: topic, debate: debate}%>
                <% end%>
            </div>
        </div>

    </div>
    <!-- stuff like social box  -->
    <hr class = "default-separator">
    <div class = "panel-footer">
        <div class = "social-box text-social">
            <div class = "col-md-8" style ="height: 30px;">
                Upvote<span class ="social-box-stat">43+</span>&nbsp;&nbsp;    Downvote  &nbsp;&nbsp;&nbsp;    Share <span class ="social-box-stat">43+</span>
            </div>
            <div class = "col-md-4 social-box-right">
                Stats 
            </div>
            
            <div style = "clear:both"></div>
        </div>
    </div>                      
</div>

<script type="text/javascript">

    <% if current_account == topic.get_creator %>

    $(".topic_index_dropdown_topic_edit").click(function(){

        $("#edit_topic_modal").modal('show');  
    }); 


    <% end %>
    <% if topic.is_full%>
    $("#topic_index_pannel_<%= topic.id %>").click(function(){

        window.location.href = "<%= debate_url debate%>";

    });
    <%end %>




</script>

<!-- Modal -->
<div class="modal fade" id="edit_topic_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style = "border-bottom: none;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>

            <%= render partial: "topics/partials/edit_topic_box", :locals => {:topic => topic}%>

        </div>
    </div>
</div>
