
<div topic-id = <%= topic.id %> class="clickable_pannel topic_index_pannel panel panel-default panel-main">
	<!-- a dropdown menu of currently unknown purpose -->
	<div class="topic_index_dropdown dropdown">
		<span class="dropdown-toggle" type="button" data-toggle="dropdown">
			<span class="[ glyphicon glyphicon-chevron-down ]"></span>
		</span>
		<ul class="dropdown-menu" role="menu">
			<li class = "topic_index_dropdown_topic_edit" role="presentation"><a role="menuitem" tabindex="-1"><span class = " glyphicon glyphicon-pencil"> </span>  Edit</a></li>
			<li role="presentation"><a role="menuitem" tabindex="-1" href="#"><span class ="glyphicon glyphicon-lock"></span>  Only you and friends</a></li>
			<li role="presentation"><a role="menuitem" tabindex="-1" href="#"> Another action</a></li>
			<li role="presentation" class="divider"></li>
			<li role="presentation"><a role="menuitem" tabindex="-1" href="#"><span class ="glyphicon glyphicon-trash"></span> Another action</a></li>
		</ul>
	</div>

	<!-- stuff like topic, post info, user info and content (panel-heading is a misnomer) -->

	<div class="panel-heading">
		<div class ="debate-title">
			<h3><%=topic.topic_sentence%> </h3>
			<div class = "text-debate-info">
				<span>Posted On</span> - <span>Jun 27, 2014</span> 
			</div>
			<hr>
		</div>
		<div class="debate-content text-description">
			<p><%=topic.description%></p>


		</div>
	</div>

	<!-- stuff like debaters and their positions -->

	<div class = "panel-body">
		

	</div>
	<!-- stuff like social box  -->
	<hr class = "default-separator">
	<div class = "panel-footer">
		<div class = "social-box text-social">
			<div class = "col-md-8" style ="height: 30px;">
				Upvote<span class ="social-box-stat">43+</span>&nbsp;&nbsp;    Downvote  &nbsp;&nbsp;&nbsp;    Share <span class ="social-box-stat">43+</span>
			</div>
			<div class = "col-md-4 social-box-right">
				Stats 
			</div>
			<div style = "clear:both"></div>
		</div>
	</div>						
</div>

<script type="text/javascript">

<% if current_account == topic.get_creator %>

$(".topic_index_dropdown_topic_edit").click(function(){

	$("#edit_topic_modal").modal('show');       
});	



<% end %>



$(".topic_index_pannel").click(function(){

	window.location.href = "<%= root_url%>" + "topics/"+$(this).attr("topic-id");

});

</script>

<!-- Modal -->
<div class="modal fade" id="edit_topic_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header" style = "border-bottom: none;">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			</div>

			<%= render partial: "topics/partials/edit_topic_box", :locals => {:topic => topic}%>

		</div>
	</div>
</div>
