
<div class="two_user_container clickable_pannel panel panel-default panel-main" debate-id = <%= debate.id%>>
    

    <!-- stuff like debaters and their positions -->
    <div class = "small_devider"></div>
    <div class = "small_devider"></div>
    <div class = "small_devider"></div>
    <div class = "panel-body">
        <div class = "debate_poster_left col-xs-12 col-md-4">

           
            <%= image_tag("default.png", size: "100x100", :class => "debater-left-pic")%>
            <div class = "text-name"> <span class = "text-name"><%=debate.get_left_debater.display_name%></span></div>
            <%= debate.get_left%>
            
        </div>
        <div class = "debate_poster_mid col-xs-12 col-md-4 header-vs">
            <h1>VS</h1>
        </div>
        <div class = "debate_poster_right col-xs-12 col-md-4 debater-right">
            <%= image_tag("default.png", size: "100x100", :class => "debater-left-pic")%>

            <div class = "text-name" style ="oat:right;"> <span> &nbsp;<%=debate.get_right_debater.display_name%></span></div>

            <div style = "clear:both"></div>
           <%= debate.get_right%>
        </div>


    </div>
    <!-- stuff like social box  -->
    <hr class = "default-separator">
    <div class = "panel-footer">
        <div class = "social-box text-social">
            <div class = "col-md-8" style ="height: 30px;">
                Upvote<span class ="social-box-stat">43+</span>&nbsp;&nbsp;    Downvote  &nbsp;&nbsp;&nbsp;   <!--  <a href="#"><i class="fa fa-facebook fa-lg"></i></a> --> <span class ="social-box-stat">43+</span>
            </div>
            <div class = "col-md-4 social-box-right">
                Stats 
            </div>
            <div style = "clear:both"></div>
        </div>
    </div>
</div>
<script type="text/javascript">
 $(".two_user_container").click(function(){
    
    window.location.href = "<%= root_url%>" + "debates/"+$(this).attr("debate-id");
});
</script>