  <!-- local variable: argument (a post object) -->
  <div class="bs-example" data-example-id="media-list">
      <ul class="comments_container media-list">
        <li class="media">
          
          <div class="media-left">
            <a href="#">
              <img class="media-object" data-src="holder.js/64x64" alt="64x64" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIHZpZXdCb3g9IjAgMCA2NCA2NCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PGRlZnMvPjxyZWN0IHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjE0LjUiIHk9IjMyIiBzdHlsZT0iZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQ7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NjR4NjQ8L3RleHQ+PC9nPjwvc3ZnPg==" data-holder-rendered="true" style="width: 64px; height: 64px;">
            </a>
          </div>
          <div class="media-body">
            <%= form_for(:comment, :remote => true, :url => {:controller=>"comments", :action => "create"}, :role => "form", :class => "comment_form") do |arg_comm| %>
                    <div class="form-group">
                      
                      <%= arg_comm.hidden_field :post_id, :value =>  argument.id %>
                      <%= arg_comm.fields_for :content_attributes do |comm| %>
                    
                      <%= comm.text_area(:content_body, :class => "form-control", :placeholder => "Debate Description")%>
                      
                    <%end%> 
                    </div>
                      <%= submit_tag("Submit", :class => "btn btn-success btn-sm pull-right comment-input-button") %>
                    <% end %>
          </div>
        </li>
        <% argument.comments.each do |comment|%>
        <li class="media">

          <div class="media-left">
            <a href="#">
              <img class="media-object" data-src="holder.js/64x64" alt="64x64" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIHZpZXdCb3g9IjAgMCA2NCA2NCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PGRlZnMvPjxyZWN0IHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjE0LjUiIHk9IjMyIiBzdHlsZT0iZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQ7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NjR4NjQ8L3RleHQ+PC9nPjwvc3ZnPg==" data-holder-rendered="true" style="width: 64px; height: 64px;">
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading"><%= Account.find(comment.account_id).nick_name%></h4>
            <p><%= comment.content.content_body%></p>
             <div class = "social-box text-social comment-social" style="margin-top:-15px;">
                      <div class = "col-md-8">
                       <span class = "comment-reply-button cursor-pointer"> Reply</span>
                     </div>
                   </div>
            <!-- Nested media object -->
              <ul class="replies_container">
                <li>
            <div class="media reply_box hidden">
              <div class="media-left">
                <a href="#">
                  <img class="media-object" data-src="holder.js/64x64" alt="64x64" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIHZpZXdCb3g9IjAgMCA2NCA2NCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PGRlZnMvPjxyZWN0IHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjE0LjUiIHk9IjMyIiBzdHlsZT0iZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQ7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NjR4NjQ8L3RleHQ+PC9nPjwvc3ZnPg==" data-holder-rendered="true" style="width: 64px; height: 64px;">
                </a>
              </div>
              <div class="media-body">
                 <%= form_for(:comment, :remote => true, :url => {:controller=>"comments", :action => "create"}, :role => "form", :class => "comment_form") do |arg_comm| %>
                    <div class="form-group">
                      
                      <%= arg_comm.hidden_field :main_comment_id, :value =>  comment.id %>
                      <%= arg_comm.fields_for :content_attributes do |comm| %>
                    
                      <%= comm.text_area(:content_body, :class => "form-control", :placeholder => "Debate Description")%>
                      
                    <%end%> 
                    </div>
                      <%= submit_tag("Submit", :class => "btn btn-success btn-sm pull-right comment-input-button") %>
                    <% end %>
              
              </div>
            </div>
            <!-- Nested media object -->
           </li>
          
            <% Comment.fetch_comments(comment).each do |reply|%>
              <li>
                <div class="media-left">
                <a href="#">
                  <img class="media-object" data-src="holder.js/64x64" alt="64x64" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIHZpZXdCb3g9IjAgMCA2NCA2NCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PGRlZnMvPjxyZWN0IHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjE0LjUiIHk9IjMyIiBzdHlsZT0iZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQ7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NjR4NjQ8L3RleHQ+PC9nPjwvc3ZnPg==" data-holder-rendered="true" style="width: 64px; height: 64px;">
                </a>
                </div>
                <div class="media-body">
                  <% if reply.account_id == '0'%>
                    <% binding.pry %>
                  <% end %>
                <h4 class="media-heading"><%= Account.find(reply.account_id).nick_name%></h4>
                <%= reply.content.content_body%>
                <div class = "social-box text-social comment-social" style="margin-top:-5px;">
                      <div class = "col-md-8">
                       <span class = "comment-reply-button-nested cursor-pointer"> Reply</span>
                     </div>
                   </div>
                </div>
           
                <div class="media nested_reply_box hidden">
                <div class="media-left">
                  <a href="#">
                    <img class="media-object" data-src="holder.js/64x64" alt="64x64" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIHZpZXdCb3g9IjAgMCA2NCA2NCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PGRlZnMvPjxyZWN0IHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjE0LjUiIHk9IjMyIiBzdHlsZT0iZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQ7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NjR4NjQ8L3RleHQ+PC9nPjwvc3ZnPg==" data-holder-rendered="true" style="width: 64px; height: 64px;">
                  </a>
                </div>
                <div class="media-body">
                  <%= form_for(:comment, :remote => true, :url => {:controller=>"comments", :action => "create"}, :role => "form", :class => "comment_form") do |arg_comm| %>
                      <div class="form-group">
                        
                        <%= arg_comm.hidden_field :main_comment_id, :value =>  reply.id %>
                        <%= arg_comm.fields_for :content_attributes do |comm| %>
                      
                        <%= comm.text_area(:content_body, :class => "form-control", :placeholder => "Debate Description")%>
                        
                      <%end%> 
                      </div>
                        <%= submit_tag("Submit", :class => "btn btn-success btn-sm pull-right comment-input-button") %>
                      <% end %>
                </div>
                </div>
                </li>
            <%end%>
              </ul>
            
          </div>
        
        </li>


        <%end%>



      </ul>
      </div>