<!-- expects box_type, debate argument as inputs -->

<% if box_type == "post" %>
<li id = "post_box_<%= argument.id%>" class = "post_panel">
<% else %>
<li id = "post_box" class = "post_panel">
<% end %>
  <div class = "row">
    <div class = "col-md-1">

    </div>
    <div class = "col-md-10">
      
        <div class = "original_offset_right col-md-2">
          
        </div>
      <div  class = "slidable slidable_right col-md-10 timeable_test" style = "padding: 0px;">
        <% if box_type == "post" %>
        <div id = "post_panel_<%= argument.id%>" class="rounded-edges panel  panel-default">
        <%else%>
        <div id = " " class="rounded-edges panel  panel-default">
        <%end%>

          <div class="panel-body">
            <div class = "row">

            </div>
            <div class = "row">
              <div class="col-md-12">
                <div class="post-box-profile-img-container-right">

                  <%= image_tag("default.png", :alt => "+", :class => "profile-pic-container")%>

                </div>

                <div class="post-box-profile-info">



                  <div class="post-box-profile-info-container-right">
                    <div class="post-box-profile-info">
                      <span class="profile-info-meta">
                        <%if box_type == "post"

                          difference = Time.now - argument.updated_at

                          if difference >= 3600
                            timestamp = pluralize(((difference/3600).round), 'hour') 
                          elsif difference >= 60
                            timestamp = pluralize(((difference/60).round), 'minute') 
                          else
                           "A few seconds ago"
                         end
                         %>

                         <%= timestamp%> 
                         <% end %>
                       </span>
                       <span class="profile-info-name">
                        <% if box_type == "post" %>
                        <%= Account.find(argument.account_id).display_name%>
                        <%else%>
                        <%= current_account.display_name%>
                        <% end %>
                      </span>
                    </div>
                    <div class="profile-info-description">

                    </div>
                  </div>

                </div>
              </div>
            </div>
            <div class = "row" style = "margin-top: 10px;">
              <div class = "argument-text col-md-12">

                <div  class = "reply-box">
                  <% if box_type == "input"%> 
                  <%= render(
                    :partial => 'posts/partials/input_fields', 
                    :locals => {:id=> debate.id})
                    %>
                    <% elsif box_type == "post" %>
                    <%= argument.content.content_body.html_safe%>
                    <% end %>
                  </div>
                  <!-- render the evidence box here -->
                  <% if box_type == "post" && argument.evidence%>
                    <%= render partial: "posts/partials/evidence_container", locals: {:argument => argument, :box_type => box_type}%>    
                  <% end %>
                  <!-- end rendering the evidence box here :) -->
                </div>
              </div>
             <% if box_type == "post" %>
                  <%= render partial: "posts/partials/bottom", locals: {argument: argument, box_type: box_type} %>
                <% end%>

            </div>
          </div>
            <%if box_type == "post" %>
    <%= render partial: "comments/index", locals: {argument: argument} %>
    <%end%>
        </div>
        <div class = "transformed_offset_right">
        </div>        
        <div style = "clear:both"></div>

      </div>
      <div class = "col-md-1">
       

      </div>
  
    </div>
  </li>