<div class="container container-main">
    <div class="row">

        <!-- left navigation pane -->
       
        <!-- main content area -->
<div id = "main-content-container" class = " col-md-9">
<div class="panel panel-default">
  <div class="panel-body">
    <%= form_for(:topic, :url => {:controller=>'topics', :action => 'create'}, :role => "form") do |f| %>
    <div class = "col-md-10 col-xs-12">
    <div><h2>Create A Debate Topic</h2></div>
              
              
              <div class="form-group">
                <label>Debate Topic:</label>
                Enter your debates's title below.
                <%= f.text_field(:topic_sentence, :class => "form-control", :placeholder => "Debate Topic")%>
              
              
                <label>Debate Description:</label>
                Give a concise description of what the debate is about
                    <%= f.text_area(:description, :class => "form-control", :placeholder => "Debate Description")%>
                    <label>Attach a poster:</label>
                    Do you have a poster for the debate? Drop it here.
                    <div id = "dnd-area">
                    </div>
                    <%= f.file_field(:description, :class => "form-control", :placeholder => "Debate Description", :style => "margin-top: 20px;")%>
                </div> 
            </div> 
  
      
    <%end%>
  </div>
</div>



    
</div>
   <!-- right navigation pane -->
<div class = "col-md-3">
   <%= render "right_navigation"%>
</div>  
</div>
</div>

