<div class="container-fluid">

    <div class="row">

        <!-- left navigation pane -->
        
       <div class = "col-md-3 col-xs-12">          

        </div>


        <!-- main content area -->
         <div id = "main_topic_show" class = "col-xs-12 col-md-6" style ="margin-top: 10px;">
            <ul>
                <li>
                    <%= render(:partial => "topics/partials/topic_index", :locals => {:topic => @topic}) %>
                </li>
                <li>
                    <%= render(:partial => "topics/partials/sides") %>
                </li>
                <% @topic.debates.each do |debate|%>
                    <%if debate.full?%>
                    <li>
                        <%= render(:partial => "topics/partials/two_users", :locals => {:debate => debate}) %>
                    </li>
                    <%elsif debate.get_debaters.count == 1%>
                     <li>
                        <%= render(:partial => "topics/partials/one_user", :locals => {:debate => debate}) %>
                    </li>
                    <%end%>
                <%end %>
            </ul>
         </div>


    <!-- right navigation pane -->

    <div class = "col-md-3">

    </div>  

</div>
</div>
<%= subscribe_to topic_path(@topic) %>
<script type="text/javascript">

    $(".join_opposite_side_button").click(function(){
        clicked = this;
    
      var t = new AjaxHandler("none", "http://localhost:3000/debates/create_participation", "POST", {debate_id: $(clicked).attr("debate-id")} ,update_topic_show);
      t.make_call();
    
  });

   
</script>