<div class="container-fluid">

    <div class="row">

        <!-- left navigation pane -->
        
       <div class = "col-md-3 col-xs-12">          

        </div>


        <!-- main content area -->
         <div id = "main_topic_show" topic-id = "<%= @topic.id %>" class = "col-xs-12 col-md-6" style ="margin-top: 10px;">
            <ul>
                <li>
                    <%= render(:partial => "topics/partials/topic_index", :locals => {:topic => @topic}) %>
                </li>
                <li>
                    <%= render(:partial => "topics/partials/sides") %>
                </li>
                <% @topic.debates.each do |debate|%>
                    <%if debate.full?%>
                    <li>
                        <%= render(:partial => "topics/partials/two_users", :locals => {:debate => debate}) %>
                    </li>
                    <%elsif debate.get_debaters.count == 1%>
                     <li>
                        <%= render(:partial => "topics/partials/one_user", :locals => {:debate => debate}) %>
                    </li>
                    <%end%>
                <%end %>
            </ul>
         </div>


    <!-- right navigation pane -->

    <div class = "col-md-3">

    </div>  

</div>
</div>
<%= subscribe_to topic_path(@topic) %>
<script type="text/javascript">
    get_topic_id = function(){
        return $("#main_topic_show").attr("topic-id");
    }
</script>