<div class = "admin_index_main">
<div class = "container">
<div class = "row"> 
	<div class = 'col-lg-2'>
		<ul class="nav nav-pills nav-stacked">
			<li role="presentation"><%= link_to("Home", {:action => 'index'},)%></li>
			<li role="presentation"><%= link_to("Debates", {:action => 'debates'},)%></li>
			<li role="presentation" class="active"><%= link_to("Accounts", {:action => 'accounts'},)%></li>
			
			<li role="presentation"><%= link_to("Stats", {:action => 'stats'},)%></li>
			<% if Account.find(session[:user_id]).privilege == 'super'%>
        <li role="presentation"><%= link_to("Reports", {:action => 'reports'})%></li>
        <li role="presentation">Admins</li>
      <%end%>
  		</ul>

	</div>

	<div class = 'col-lg-10'>
		<div class = "row">
			<div class = "col-lg-12"></div>
			<div class = "admin_main_content col-lg-12">
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>Id</th>
						<th>First Name</th>
						<th>Last Name</th>
						<th>Display Name</th>
						<th>Privilege</th>
						<th>Set Tester</th>
						<th>Debates Created</th>
						<th>Delete</th>

					</tr>
				</thead>
				<tbody>
					<% Account.all.each do |user|%>
						<tr>
							<th scope="row"><%= user.id%></th>
							<td><%= link_to(user.first_name,:controller => 'topics', :action =>'test'  )%></td>
							<td><%= user.last_name%></td>
							<td><%= user.display_name%></td>
							<td><%= user.privilege%></td>
							<%unless user.is_tester%>

							<th><a class = "make_tester" user-id = <%= user.id%>>make tester</a></th>
							<%else%>
							<th>tester</th>
							<%end%>
							<td><%= user.topics.count%></td>
							
							<td><%= link_to("Delete", :controller => 'accounts', :action =>'destroy', :id => user.id)%></td>
							
						</tr>
						<%end%>
				</tbody>
			</table>
			</div>

		</div>
	</div>
</div>
</div>
</div>
<script type="text/javascript">
change_privilege = function(element, change_to){
	$(element).text("");
	$(element).text(change_to);
}
cal_bak = function(){}
$(".make_tester").click(function(){
	var ah = new AjaxHandler("join_modal", "<%= root_url%>"+"ajax_calls/make_tester","POST", {account_id: $(this).attr("user-id")}, cal_bak);//use rails way to find the url
        ah.make_call();
});
</script>