<div class="container">
 <div id="blog" class="row"> 

  <div class="col-sm-2 paddingTop20">
   <%= render partial: "admin/side_bar"%>
    <div><h2 class="add"></h2></div>
  </div>
  <div class="col-md-10 blogShort">
<ul>
    
    

   
   		<div class="bs-example" data-example-id="panel-without-body-with-table">
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">Challenges</div>

     	<div class = "panel-body shell_simulator">
     	<% Log.all.each do |log|%>
     		<p>
     			<span  class = "info_text"><%= log.created_at%></span>
     			<br>
     			<span  class = "info_text"><%= Account.find(log.current_user_id).email%></span>
     			<%= log.event_log%>
     			<br>
     			<%= log.param%>
     			<br>
     			<span  class = "info_text">---------------------------------------------------------------------------</span>
     			
     			
     		</p>
     		<%end%>
     	</div>
	      
	    </div>
	  </div>
    
</ul>
  </div>

 <div class="col-md-12 gap10"></div>
</div>
</div>