<div class = "admin_index_main">
<div class = "container">
<div class = "row"> 
  <div class = 'col-lg-2'>
    <ul class="nav nav-pills nav-stacked">
      <li role="presentation" class="active"><%= link_to("Home", {:action => 'index'},)%></li>
      <li role="presentation"><%= link_to("Debates", {:action => 'debates'},)%></li>
      <li role="presentation"><%= link_to("Accounts", {:action => 'accounts'},)%></li>
      
      <li role="presentation"><%= link_to("Stats", {:action => 'stats'},)%></li>
      <% if Account.find(session[:user_id]).privilege == 'super'%>
        <li role="presentation"><%= link_to("Reports", {:action => 'reports'})%></li>
        <li role="presentation">Admins</li>
      <%end%>
      </ul>

  </div>

  <div class = 'col-lg-10'>
    <div class = "row">
      <div class = "col-lg-12"></div>
      <div class = "col-lg-12">
      <div class="alert alert-info" role="alert"><strong>Page Views Today:</strong> 18,547</div>
      <div class="alert alert-info" role="alert"><strong>Debates Created Today:</strong> 18,547</div>
      <div class="alert alert-info" role="alert"><strong>Debates Updated Today:</strong> 18,547</div>
      <div class="alert alert-danger" role="alert"><strong>404 Replies:</strong> 18,547</div>
      </div>
    </div>
  </div>
</div>
</div>
</div>