
<div class="container">
 <div id="blog" class="row"> 

  <div class="col-sm-2 col-md-2 paddingTop20">
   <%= render partial: "admin/side_bar"%>
   <div><h2 class="add"></h2></div>
 </div>
 <div class = "col-md-10">
  <ul>
    

    <% Topic.sort_for_home_page.each do |topic|%>
    <li id = "admin_topic_box_<%= topic.id%>">
      <div class = "row">
        <div class = "col-md-9" >
          <%= render(:partial => "topics/partials/topic_index", :locals => {:topic => topic}) %>
        </div>
        <div class = "col-md-3">
           <%= link_to action: "topic_debates", id: topic.id do %>
            <span class = 'btn btn-primary btn-sm', style = "width: 80px;"> 
            <i class="fa fa-cog"></i> Debates 
            </span>
           <% end %>
           <div class = "small_devider"></div>
            <%= link_to topic_path(topic), method: :delete, remote: true , :class => 'btn btn-danger btn-sm', :style => "width: 80px;", :id => "admin_topic_delete_#{topic.id}"  do %>
            <i class="fa fa-trash-o fa-sm"></i> Delete </a>
           <% end %>
        </div>
      </div>
    </li>
    <script type="text/javascript">
      $("#admin_topic_delete_<%= topic.id%>").click(function(){
        $("#admin_topic_box_<%= topic.id %>").remove();
      });
    </script>
    <%end%> 
  </ul>
</div>


<div class="col-md-12 gap10"></div>
</div>
</div>
