<div class = "admin_index_main">
<div class = "container">
<div class = "row"> 
	<div class = 'col-lg-2'>
		<ul class="nav nav-pills nav-stacked">
			<li role="presentation"><%= link_to("Home", {:action => 'index'},)%></li>
			<li role="presentation"><%= link_to("Debates", {:action => 'debates'},)%></li>
			<li role="presentation" ><%= link_to("Accounts", {:action => 'accounts'},)%></li>
			
			<li role="presentation"><%= link_to("Stats", {:action => 'stats'},)%></li>
			<% if Account.find(session[:user_id]).privilege == 'super'%>
        <li role="presentation" class="active"><%= link_to("Reports", {:action => 'reports'})%></li>
        <li role="presentation">Admins</li>
      <%end%>
  		</ul>

	</div>

	<div class = 'col-lg-10'>
		<div class = "row">
			<div class = "col-lg-12"></div>
			<div style = "font-family: 'monospace'; color: red; "class = "admin_main_content col-lg-12">
			<%@reports.each do |report|%>
			<div class = "small_devider"></div>
			<div class = "small_devider"></div>
			<div class = "small_devider"></div>
			on page: <%= report.page%> </br>
			encountered: <%= report.issue%></br>
			<div class = "small_devider"></div>
			<hr>
			<div class = "small_devider"></div>
			<div class = "small_devider"></div>
			<%end%>
			<div>
			</div>

		</div>
	</div>
</div>
</div>
</div>
