<div class="container">
 <div id="blog" class="row"> 

  <div class="col-sm-2 paddingTop20">
   <%= render partial: "admin/side_bar"%>
    <div><h2 class="add"></h2></div>
  </div>
  <div class="col-md-10 blogShort">
<ul>
    
    

   
   		<div class="bs-example" data-example-id="panel-without-body-with-table">
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">Challenges</div>

      <!-- Table -->
	      <table class="table">
	        <thead>
	          <tr>
	            <th>#</th>
	            <th>Sender Email</th>
	            <th>Reciever Email</th>
	            <th>Time</th>
	            <th>Status</th>
	          </tr>
	        </thead>
	        <tbody>
	         <% Challenge.all.each do |challenge|%>
	          <tr>
	            <th scope="row"><%= challenge.id%></th>
	            <td><%= "#{Account.find(challenge.challenger_id).email} "%></td>
	            <td><%= challenge.get_challengee_email == nil ? "open" : challenge.get_challengee_email   %></td>
	            <td><% c = challenge.created_at.to_s(:long).split(" ") %> <%= "#{c[0]} #{c[1]} #{c[2]} "%></td>
	            <td> accepted </td>
	          </tr>
	          <%end %>
	        </tbody>
	      </table>
	    </div>
	  </div>
    
</ul>
  </div>

 <div class="col-md-12 gap10"></div>
</div>
</div>