<div class = "container-fluid">
  <div class = "row">
    <!-- Unknown purpose -->
    <div class="col-md-3 col-sm-4 col-xs-0">
    </div>

    <!-- determine the side and set the user-side -->
    <% check_side = DebateParticipation.find_by_account_id(session[:user_id]).side %>
    <div id = "user_id_holder" user-side = <%= check_side == nil ? "neither" : check_side %>> </div>
    
    <!-- determine the name of the user and set the user-name  -->
    <div id = "user_name_holder" 
        user-name = <%= Account.find(session[:user_id]).display_name%>
    > 

    </div>


    <div class="col-md-6 col-sm-8">

      <!-- the main content goes here -->
      <ul class = "main_content_wrapper" id = "main_content_wrapper">
        <!-- if the role of this user in this debate is not a debater and 
        the debate hasn't started indicate that the debate hasn't started yet,
        if the debate is started, list the posts in a row-->
            <% if current_user.get_role(@debate.id) == "none" && @debate.posts.empty?%>
              <div class="alert alert-info" role="alert">
                The participants of this debate haven't said anything yet!
              </div>
            <% else  %>

            <% @debate.posts.each do |argument|%>
             <%= render(
                  :partial =>  argument.get_side == 'left_side' ? 
                  'posts/partials/left_post': 
                  'posts/partials/right_post' , 
                  :locals =>{:argument=> argument, :box_type => "post", :debate => @debate}) 
             %> 
             
            <%end%>
             <% end %>

              
             <% if current_user.get_role(@debate.id) == "debater"%>  
             <!-- if the user is a debater, check whose turn it is and render the input box -->
             <% if @debate.get_turn == 'left_side'|| @debate.get_turn == 'both'%>
               
                <% if current_user.get_side(@debate.id) == 'left_side'|| @debate.get_turn == 'both'%>
                     
                    <%= render(
                        :partial => 'posts/partials/left_post', 
                        :locals =>{:argument=> "", :box_type => "input", :debate => @debate})
                    %>
                <% end %>

              <% elsif @debate.get_turn == 'right_side'|| @debate.get_turn == 'both'%>
              
                <% if current_user.get_side(@debate.id) == 'right_side'|| @debate.get_turn == 'both'%>

                    <%= render(
                        :partial => 'posts/partials/right_post', 
                        :locals =>{:argument=> "", :box_type => "input", :debate => @debate})
                    %>
                <% end %>              
              <% end %>
              <% end %>
              <%= subscribe_to debate_path(@debate) %>
      </ul>
    </div>
    <div class="col-md-3 col-sm-0"></div>
  </div>
</div>