<li id = "creator-right" class = "post-right">
    <div class = "col-md-10 col-md-push-2">
      <div class="rounded-edges panel panel-default">
        <div class="panel-body">
          <div class = "row">

          </div>
          <div class = "row">
            <div class="col-md-12">
              <div class="post-box-profile-img-container-right">

               <%= image_tag(Account.find(session[:user_id]).images.profile_pic.first.url, :alt => "+", :class => "profile-pic-container")%>
              </div>
              <div class="post-box-profile-info-container-right">
                <div class="post-box-profile-info">
                  <span class="profile-info-meta" style = "font-family: monospace; font-size: 18px;"> You should reply in: <span id = "creator_time"></span> </span>
                  <span class="profile-info-name"><%= Account.find(session[:user_id]).display_name%></span>
                </div>
                <div class="profile-info-description">

                </div>
              </div>
            </div>
          </div>
          <div class = "row" style = "margin-top: 10px;">
            <div class = "argument-text col-md-12">
              <%= form_for(:post,  :remote => true, :url => {:action => 'create'} ) do |f| %>
              <%= f.hidden_field :debate_id, :value => id %>
              <%= f.fields_for :content_attributes do |o|%>
              <div class = "reply-box">
                   <div class="form-group">    
                      <%= o.text_area(:content_body, :rows => '3',:class => 'form-control', :placeholder => "Your Response") %>
                  </div> 
              </div>
              <%end%>
              <div class = "reply-btn">
            <%= submit_tag("Reply", :id => 'post-creator-btn', :class => "btn btn-success btn-sm pull-right") %>
        
        </div>
        <%end%>
            </div>
          </div>
          <div class = "row social-icons-box">
            <div class ="col-md-12">

            </div>
          </div>
          <div class = "row">

          </div>

        </div>
      </div>
    </div>
    <div class = "col-md-2 col-md-pull-10">
    </div>
    <div style = "clear:both"></div>
</li>