<!DOCTYPE html>
<html>
<head>
  <title>Toucan | <%= @page_title || "Home" %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  
  
  <%= csrf_meta_tags %>
</head>
<body class = "main_body wall" style = "background-image: url(<%= asset_path 'pat.png'%>)">


<%= render(:partial => "layouts/nav")%>


<%= yield %>
<%= render(:partial => "report") %>
<%= render(:partial => "notification_box") %>
</body>

<script type="text/javascript">
var notification_box = new NotificationBox("test_notification", 20, 20)
</script>
</html>
